
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
}

:root{

    --bg-color: #181818;
    --second-bg-color: #020c00;
    --main-color: #22b455;
    --text-color: #fff;
}

html{
 font-size: 42.5%;   
 overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dot{
    width: 10px;
    height: 10px;
    background: var(--main-color);
    display: inline;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   backdrop-filter: blur(30px);
   max-height: 15%;
   height: max-content;
   padding-top: 2%;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.header-div{
    display: flex;
}

.header-top{
    backdrop-filter: blur(30px);
}

.header-blur{
    display: block !important;
    backdrop-filter: none !important;
}

.header .sticky{
border-bottom: .1rem solid rgb(0 , 0, 0, 1); 
}

.logo-header{
    display: flex;
    height: fit-content;
    width: fit-content;
    padding-left: 5%;
    padding-top: 0% !important;
    padding-bottom: 2%;
}
.n-bar.active{
    width: auto;
    display: block;
}

.n-bar a {
    position: relative;
    display: inline-block;
    justify-content: center;
    font-size: 2rem;
    max-width: 15rem;
    color: var(--text-color);
    text-decoration: none;
    margin: 2rem 4rem;
    padding: 2rem 1.8rem;
    transition: 0.5s ease-in-out;
    letter-spacing: 0.2rem;
    border-radius: 5%;
}

.n-bar a:hover,
.n-bar a.active{
    font-size: 1.8rem;
    display: inline-block;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    text-decoration: none;
    font-weight: 600;
    margin-left: 4rem;
    box-shadow: 0 0 0.5rem var(--main-color),
                0 0 1.2rem var(--main-color),
                0 0 1.8rem var(--main-color),
                0 0 2.5rem var(--main-color);
}

h1{
    font-size: 7.5rem;
}

h2{
    font-size: 5rem;
}

h3{
    font-size: 4rem;
}

p{
    margin-top: 2rem;
    font-size: 2rem;
}

.menu-container{
    margin-top: 0%;
    padding: 0%;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    margin: 4rem 2rem 1.5rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 2rem 9%;
}

.home{
    margin-top: 2.5%;
    padding: 25rem;
    position: relative;
    display: inline-block;
    width: 100%;

}

.butn{
    position: relative;
    display: inline-block;
    max-width: 40rem;
    font-size: 2rem;
    color: var(--text-color);
    justify-content: center;
    text-decoration: none;
    margin: 2rem auto;
    padding: 1.5rem 1.8rem;
    transition: .3s;
    letter-spacing: 0.2rem;
    border-radius: 4rem;
}

.res-link{
    display: inline-block;
    padding-left: 4rem;
    text-align: left;
}

.neon-blue:hover{
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
    background-color: var(--main-color);
    word-spacing: 0.2rem;
    color: var(--second-bg-color);
    font-weight: 600;
    box-shadow: 0 0 0.5rem var(--main-color),
                0 0 1.2rem var(--main-color),
                0 0 1.8rem var(--main-color),
                0 0 2.5rem var(--main-color);
}

.neon-blue-solid{
    font-size: 2.4rem;
    letter-spacing: 0.3rem;
    background-color: var(--main-color);
    word-spacing: 0.2rem;
    color: var(--second-bg-color);
    font-weight: 600;
}

.neon-blue-solid:hover{
    box-shadow: 0 0 0.5rem var(--main-color),
                0 0 2.5rem var(--main-color);
}

.multiple-text-box{
    display: inline;
    margin: 0;
    padding: 0;
}

.social-media{
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    padding: 1% 2%;
    margin: 4rem 3rem;
    font-size: 4rem;
    color: var(--main-color);
}

.social-media:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1.5rem var(--main-color);
}

.home-img{
    position: relative;
    margin: auto;
    vertical-align: middle;
    align-items: center;
}

.home-img img{
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);;
    }

    50%{
        transform: translateY(-10%);
    }

    100%{
        transform: translateY(0);
    }
}


#job-title{
    font-weight: 600;
    color: var(--main-color);
}

.bio{
    padding: 7.5rem 2rem 0rem;
    vertical-align: middle;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 3.5rem;
}

.read-more p{
    display: none;
}

.show-text{
    display: inline-block !important;
}

.heading{
    margin: 5rem auto;
    margin-bottom: 7.5rem;
    font-weight: 600;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background-color: var(--second-bg-color);
    padding: auto 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .3rem solid var(--bg-color);
    transition: .2s ease;
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.03);
}

.services-box{
    max-height: 50%;
    min-height: 10%;
    height: max-content;
    font-size: 8.5rem;
    color: var(--main-color);
    font-weight: 300;
}

#s-box-3{
    min-height: 35rem;
}

.services h2{
    margin-bottom: 5rem;
    color: var(--text-color);
}

.services-box h3{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.services-box p{
    font-size: 2.2rem;
    color: var(--text-color);
    margin: 1rem 0 3rem;
}

.contact h2{
    margin: 1.5rem auto 3rem;
    text-align: center;
    color: var(--text-color);
}

.contact form{
    max-width: 100rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

contact form .input-box input{
    width: 49%;
}

.contact form .input-box input, 
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .butn{
    margin-top: 4rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    padding-right: 4%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 2rem;
}

.footer-icontop a{
    position: fixed;
    right: 2.5%;
    bottom: 2.5%;
    display: inline-flex;
    justify-content: right;
    text-decoration: none;
    padding: 0.8rem;
    background-color: var(--main-color);
    transition: 0.5s ease;
    border-radius: 0.8rem;
}

.footer-icontop a:hover{
    box-shadow: 0 0 1.5rem var(--main-color), 
                0 0 3rem var(--main-color);
}

.footer-icontop a i {
    font-size: 350%;
    color: var(--bg-color);
}
@media (max-width: 2500px){
    .header{
        max-height: 25%;
    }
}

@media (max-width: 1900px){
    .home, .about, .services,.contact{
        padding-top: 25rem;
    }
}

@media (max-width: 1400px){
    .home{
        padding-right: 20%;
        margin-right: 0;
    }

    .home, .about, .services, .contact{
        padding-top: 25rem;
    }
}

@media (max-width: 1200px) {
    html{
        font-size: 60%;
    }

    .home, .about, .services, .contact{
        padding-top: 25rem;
    }
}

@media (max-width: 992px) {

    html{
        font-size: 50%;
    }

    .div-nav{
        max-width: 150rem !important;
    }

    .profile-pic{
        height: 100%;
        width: 100%;
    }

    .header{
        padding-top: 1.8rem;
    }

    .home, .about, .services, .contact{
        padding: 10rem 4% 5rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 880px){


    #menu-icon{
        display: inline-block;
        cursor: pointer;
        max-width: 100%;
        height: fit-content;
        margin: 0rem;
        transform: scale(1.5);;
        transition: 0.5s ease-in-out;
    }

    .header{
        max-height: 15.75rem;
    }

    .menu-container{
        margin-top: 0%;
        padding-top: 5%;
        padding-right: 2.5%;
        height: 15.75rem !important;
        width: 33rem;
    }

    html{
        font-size: 55%;
    }

    .about{
        padding-top: 0rem;
    }
    
    .services, .contact{
        padding-top: 10rem;
    }

    .n-bar{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100% !important;
        padding: 2rem 5%;
        backdrop-filter: blur(30px) ;
        border-top: 0.2rem solid rgba(0, 0, 0, 0.2) ;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        text-align: left;
    }

    .n-bar .active{
        display: block;
    }

    .n-bar a{
        display: block;
        text-align: left;
        font-size: 2rem;
        margin: 3rem 0;
    }
}

@media (max-width: 768px) {

    html{
        font-size: 60%;
    }

    .header{
        height: 12.5%;
    }
    .header{
        padding: 0%;
    }

    .home-img{
        margin-top: 6rem; 
        margin-left: 2.5rem;
    }

    .header-top{
        display: block !important;
        width: 100%;
    }
}

@media (max-width: 500){
    .home, .about, .services, .contact{
        padding: auto 50px;
    }

    .home-img{
        padding-left: 10%;
    }

    .profile-pic{
        display: block;
        width: 50%;
        height: 50%;
    }
}


@media (max-width: 450){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px){

    .footer{
        flex-direction: column-reverse;
    }
}

@media (max-width: 300px) {
    h1{
        font-size: 600%;
    }

    .home, .about, .services,.contact{
        max-width: 300px;
    }

}
